.logo {
    width: 1050.82px;
    height: 626px;
    top: 146px;
    left: 195px;
    gap: 0px;
    opacity: 0px;
    
}
body{
    background-color:#1EB1FB;
    ;
}
vector{
width: 292px;
height: 374px;
top: 292px;
gap: 0px;
opacity: 0px;
angle: 90 deg;
}